<template>
  <div class="kt-portlet kt-portlet--height-fixed">
    <div
      class="kt-portlet_head kt-portlet__head kt-portlet__head--lg kt-portle__head--noborder kt-portlet__head--break-sm"
    >
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="fal fa-ballot-check"></i>
        </span>
        <h3 class="kt-portlet__head-title">Quizzes Manager</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <v-data-table
        :headers="headers"
        :server-items-length="totalItems"
        :loading="loading"
        :items-per-page="5"
        :items="quizzes"
        @update:page="updatePage"
        @update:sort-by="updateSorting"
        @update:sort-desc="updateSorting"
        :options.sync="options"
      >
        <template v-slot:top>
          <div class="row no-gutters px-3 mt-3">
            <div class="col-xl-4">
              <v-select
                :loading="loading"
                :disabled="loading"
                @change="fetchQuizzes()"
                dense
                v-model="filters.status"
                multiple
                prepend-inner-icon="fas fa-filter"
                :items="['Active', 'Inactive']"
              >
                <template v-slot:prepend-item>
                  <v-list-item ripple @click="toggleAllFilter">
                    <v-list-item-content>
                      <v-list-item-title>All</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-divider class="mt-2"></v-divider>
                </template>
              </v-select>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-7">
              <div class="d-flex flex-wrap flex-sm-nowrap">
                <v-text-field
                  clearable
                  :loading="loading"
                  class="mt-0 pt-1 mr-0 mr-sm-5 w-100"
                  v-model.trim="search"
                  @change="fetchQuizzes(currentPage)"
                  append-icon="fal fa-search"
                  label="Search"
                  single-line
                  hide-details
                />
                <v-btn
                  color="primary"
                  dark
                  to="lms-admin/quiz-builder"
                  class="mx-auto mt-3 mt-sm-0"
                  text
                >
                  <v-icon class="mr-2" small>fal fa-plus</v-icon>
                  New Quiz
                </v-btn>
              </div>
            </div>
          </div>
        </template>
        <template v-slot:item.created_at="{ item }"
          >{{ item.created_at | displayDateTime }}
        </template>
        <template v-slot:item.answers="{ item }"
          >{{ item.questions.length }}
        </template>
        <template v-slot:item.action="{ item }">
          <template v-if="item.deleted_at === null">
            <v-btn
              :to="{
                name: 'Quiz Builder',
                params: {
                  id: item.id,
                },
              }"
              color="grey darken-3"
              text
            >
              <v-icon class="" small>fal fa-edit</v-icon>
            </v-btn>
            <v-btn @click="duplicate(item)" text color="primary">
              <v-icon small>fal fa-copy</v-icon>
            </v-btn>
            <v-btn text @click="deleteItem(item)" color="red darken-3" small>
              <v-icon small>fal fa-trash</v-icon>
            </v-btn>
          </template>
          <template v-else>
            <v-btn text @click="restoreItem(item)" color="blue darken-3" small>
              <v-icon small class="mr-2">fal fa-trash-restore</v-icon>
              Restore
            </v-btn>
          </template>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import { isEmpty as _isEmpty } from 'lodash-es';

export default {
  name: 'QuizSection',
  data() {
    return {
      options: {
        groupBy: [],
        groupDesc: [],
        itemsPerPage: 5,
        multiSort: false,
        mustSort: false,
        page: 1,
        sortBy: ['created_at'],
        sortDesc: [true],
      },
      filters: {
        search: '',
        status: [],
      },
      headers: [
        {
          text: 'Title',
          align: 'left',
          sortable: true,
          value: 'title',
        },
        {
          text: '# of Questions',
          align: 'left',
          value: 'answers',
          sortable: true,
        },
        {
          text: 'Date Created',
          align: 'left',
          value: 'created_at',
          sortable: true,
        },
        {
          text: 'Action',
          align: 'center',
          value: 'action',
          sortable: false,
          width: 210,
        },
      ],
      currentPage: 1,
      totalItems: 1,
      loading: false,
    };
  },
  mounted() {
    this.toggleAllFilter();
    this.fetchQuizzes(1);
  },
  computed: {
    quizzes() {
      return this.$store.state.quizBuilder.list;
    },
  },
  methods: {
    toggleAllFilter() {
      this.filters.status = ['Active', 'Inactive'];
    },
    updateSorting() {
      this.current_page = 1;
      this.fetchQuizzes();
    },
    updatePage(page) {
      this.current_page = page;
      this.fetchQuizzes();
    },
    fetchQuizzes() {
      this.loading = true;
      const filter =
        this.filters.status.length >= 2
          ? 'all'
          : this.filters.status.toString().toLowerCase();
      this.axios
        .get('lms-manager/builder/quizzes', {
          params: {
            page: !_isEmpty(this.search) ? 1 : this.current_page,
            per_page: this.options.itemsPerPage,
            type: filter,
            search: this.search,
            sortBy: this.options.sortBy[0],
            sortDesc: this.options.sortDesc[0],
          },
        })
        .then(({ data }) => {
          this.currentPage = data.current_page;
          this.totalItems = data.total;
          this.$store.commit('quizBuilder/setQuizzes', data.data);
          this.loading = false;
        })
        .catch((error) => {
          if (error.response.status === 500) {
            this.$notify('error', 'Please select filters!');
            this.loading = false;
          }
        });
    },
    deleteItem(item) {
      this.$store
        .dispatch('quizBuilder/deleteQuiz', {
          id: item.id,
        })
        .then(({ data }) => {
          this.$notify('success', 'Quiz archived');
          this.fetchQuizzes(this.currentPage);
        });
    },
    restoreItem(item) {
      this.$store
        .dispatch('quizBuilder/restoreQuiz', {
          id: item.id,
        })
        .then(({ data }) => {
          this.$notify('success', 'Quiz restored');
          this.fetchQuizzes(this.currentPage);
        });
    },
    duplicate(item) {
      this.axios
        .post('lms-manager/builder/quiz/duplicate/', {
          id: item.id,
        })
        .then(({ data }) => {
          this.$notify('success', 'Quiz successfully duplicated!');
          this.fetchQuizzes(this.currentPage);
        });
    },
  },
};
</script>

<style scoped></style>
