<template>
  <v-dialog v-model="showAssignPlaylist" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">
          <v-icon class="ml-1">fal fa-users-class</v-icon>Assign to Other Users
        </span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="4">
              <v-checkbox
                v-model="assignToAll"
                label="Assign to All"
              ></v-checkbox>
            </v-col>
            <v-col cols="12" sm="6" md="8">
              <assign-dropdown
                :value="selectedUsers"
                :set-drop-down-value="setDropdownValue"
              ></assign-dropdown>
              <!--              <vue-select-->
              <!--                :options="usersSearchResult"-->
              <!--                v-model="selectedUsers"-->
              <!--                @search="searchUser"-->
              <!--                :reduce="(user) => user.id"-->
              <!--                :loading="selectLoading.users"-->
              <!--                label="name"-->
              <!--                multiple-->
              <!--              >-->
              <!--                <template #header>-->
              <!--                  <div>Users</div>-->
              <!--                </template>-->
              <!--              </vue-select>-->
              <!--              <span-->
              <!--                class="kt-font-danger validate-error"-->
              <!--                v-show="errors.has('users')"-->
              <!--                autocomplete="off"-->
              <!--              >-->
              <!--                {{ errors.first('users') }}-->
              <!--              </span>-->
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="12" md="12">
              <vue-select
                v-model="selectedGroups"
                :options="groups"
                label="name"
                :reduce="(group) => group.id"
                multiple
                append-to-body
              >
                <template #header>
                  <div>Assign to Specific Groups</div>
                </template>
              </vue-select>
            </v-col>
            <v-col cols="12" sm="12" md="12">
              <v-menu
                ref="dueDateMenu"
                v-model="dueDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="dueDate"
                    label="Due Date"
                    persistent-hint
                    prepend-icon="fal fa-calendar"
                    v-on="on"
                    readonly
                    v-bind="attrs"
                    @blur="temporaryDate = parseDate(dueDate)"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="temporaryDate"
                  no-title
                  @input="dueDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" sm="12" md="12">
              <multiselect
                v-model="playlistSelect"
                :options="playlistItems"
                label="name"
                placeholder="Select Playlist"
                v-validate="'required'"
                name="playlist"
              ></multiselect>
              <span
                class="kt-font-danger validate-error"
                v-show="errors.has('playlist')"
              >
                {{ errors.first('playlist') }}
              </span>
              <!--              <v-autocomplete-->
              <!--                v-model="playlistSelect"-->
              <!--                :items="playlistItems"-->
              <!--                item-value="id"-->
              <!--                item-text="name"-->
              <!--                :menu-props="{ closeOnClick: true }"-->
              <!--                label="Select Playlist"-->
              <!--              ></v-autocomplete>-->
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" :loading="isLoading" text @click="assign"
          >Save</v-btn
        >
        <v-btn color="blue-grey" text @click="showAssignPlaylist = false"
          >Close</v-btn
        >
      </v-card-actions>
    </v-card>

    <v-overlay :value="isLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-dialog>
</template>
<script>
import {
  union as lodashUnion,
  findIndex as _findIndex,
  each as _each,
  isEmpty as _isEmpty,
  debounce as _debounce,
  map as _map,
} from 'lodash-es';
import AssignDropdown from '../AssignDropdown';

export default {
  name: 'AssignPlaylist',
  components: { AssignDropdown },
  props: {
    value: Boolean,
    playlists: Array,
  },

  data() {
    return {
      date: '',
      selectedGroups: [],
      groups: [],
      selectedUsers: [],
      playlistSelect: '',
      assignToAll: false,
      dueDate: this.formatDate(new Date().toISOString().substr(0, 10)),
      dueDateMenu: false,
      usersSearchResult: [],
      searchUsers: null,
      temporaryDate: new Date().toISOString().substr(0, 10),
      isLoading: false,
      selectLoading: {
        users: true,
      },
    };
  },

  computed: {
    showAssignPlaylist: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
    playlistItems() {
      return this.playlists;
    },
    showSelectedUsers() {
      return this.selectedUsers.length > 0;
    },
    users() {
      return lodashUnion(this.selectedUsers, this.usersSearchResult);
    },
    userValidate() {
      return this.selectedGroups.length !== 0 || this.assignToAll
        ? ''
        : 'required';
    },
  },

  created() {
    this.getGroups();
    this.getFirstTenUsers();
  },

  methods: {
    setDropdownValue(value) {
      this.selectedUsers = value;
    },
    getFirstTenUsers() {
      this.selectLoading.users = true;
      this.$http
        .get('get-random-users', {
          params: {
            users: 10,
          },
        })
        .then(({ data }) => {
          _each(data, (user) => {
            const index = _findIndex(this.usersSearchResult, { id: user.id });
            if (index === -1) {
              this.usersSearchResult.push(user);
            }
          });
          this.selectLoading.users = false;
        })
        .catch((error) => {
          this.selectLoading.users = false;
        });
    },
    getGroups() {
      this.$http
        .get('/groups')
        .then((response) => {
          _each(response.data, (group) => {
            this.groups.push(group);
          });
        })
        .catch((err) => {});
    },
    searchUser: _debounce(function (user) {
      this.fetchUsers(user);
    }, 500),
    fetchUsers(filter) {
      const params = {};
      if (filter) {
        params.filter = filter;
      }

      this.selectLoading.users = true;

      this.$http
        .get('/playlist/assign', { params })
        .then(({ data }) => {
          _each(data, (user) => {
            const index = _findIndex(this.usersSearchResult, { id: user.id });
            if (index === -1) {
              this.usersSearchResult.push(user);
            }
          });

          this.selectLoading.users = false;
        })
        .catch(() => {
          this.selectLoading.users = false;
        });
    },
    assign() {
      const selectedUsers = _map(this.selectedUsers, (user) => {
        return user.id;
      });
      const users = this.assignToAll ? 'all' : selectedUsers;
      this.$validator.validate('*').then((result) => {
        if (result) {
          this.isLoading = true;
          this.$http
            .post('/playlist/assign', {
              playlist_id: this.playlistSelect.id,
              users,
              due_date: this.dueDate,
              groups: this.selectedGroups,
            })
            .then(() => {
              this.showAssignPlaylist = false;
              this.$notify('success', 'Playlist successfully assigned!');
              // reset to default
              this.selectedUsers = [];
              this.selectedGroups = [];
              this.playlistSelect = '';
              this.assignToAll = false;
              this.dueDate = this.formatDate(
                new Date().toISOString().substr(0, 10)
              );
              this.value = false;
              this.isLoading = false;
            })
            .catch(() => {
              this.showAssignPlaylist = false;
              this.$notify('warning', 'Something went wrong!');
              this.value = false;
              this.isLoading = false;
            });
        }
      });
    },
    selectedUsersChanged() {
      this.searchUsers = '';
    },

    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split('-');
      return `${month}/${day}/${year}`;
    },

    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split('/');
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
    },
  },

  watch: {
    searchUsers(val) {
      if (val) {
        this.fetchUsers(val);
      }
    },

    temporaryDate(val) {
      this.dueDate = this.formatDate(this.temporaryDate);
    },
  },
};
</script>
