<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Webinarinc</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/outdatedbrowser.min.css">
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=b410c210-e499-4ebc-97a4-4e4d979f61f3"> </script>
    <script src="/outdated-browser-rework.min.js"> </script>
    <script>
        outdatedBrowserRework({
            fullscreen: false,
            browserSupport: {
                'IE': false,
            }
        })
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </head>
  <body class="kt-quick-panel--right
    kt-demo-panel--right
    kt-offcanvas-panel--right
    kt-header--fixed
    kt-header-mobile--fixed
    kt-subheader--enabled
    kt-subheader--fixed
    kt-subheader--solid
    kt-aside--enabled
    kt-aside--fixed
    kt-page--loading">
    <noscript>
      <strong>We're sorry but Webinarinc doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <div id="outdated"></div>
    <!-- built files will be auto injected -->
  </body>
  <!--
    ( •_•)
    ( •_•)>⌐■-■
    (⌐■_■)
    #HellYeahh!
  -->
</html>
