<template>
  <v-dialog v-model="dialog" width="400">
    <v-card>
      <v-card-title class="headline"> Assign playlist </v-card-title>

      <v-card-text>
        <assign-dropdown
          :value="selectedUsers"
          :set-drop-down-value="setDropdownValue"
        ></assign-dropdown>
        <!--        <vue-select-->
        <!--          :options="usersSearchResult"-->
        <!--          v-model="selectedUsers"-->
        <!--          @search="searchUser"-->
        <!--          :reduce="(user) => user.id"-->
        <!--          :loading="selectLoading.users"-->
        <!--          label="name"-->
        <!--          multiple-->
        <!--        >-->
        <!--          <template #header>-->
        <!--            <div>Users</div>-->
        <!--          </template>-->
        <!--        </vue-select>-->
        <vue-select
          v-model="groupSelect"
          :options="groups"
          label="name"
          :reduce="(group) => group.id"
          multiple
          append-to-body
        >
          <template #header>
            <div>Specific Groups</div>
          </template>
        </vue-select>
        <!--        <v-autocomplete-->
        <!--          v-model="groupSelect"-->
        <!--          :items="groups"-->
        <!--          :menu-props="{ closeOnClick: true }"-->
        <!--          label="Assign to Specific Group"-->
        <!--          multiple-->
        <!--        ></v-autocomplete>-->
        <v-menu
          ref="dueDateMenu"
          v-model="dueDateMenu"
          :close-on-content-click="false"
          :return-value.sync="dueDate"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="dueDate"
              label="Due Date"
              prepend-icon="fal fa-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="dueDate" no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="dueDateMenu = false">
              Cancel
            </v-btn>
            <v-btn
              text
              color="primary"
              @click="$refs.dueDateMenu.save(dueDate)"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="toggleAssignDialog"> Close </v-btn>
        <v-btn
          color="primary"
          text
          @click="assign"
          :loading="assignLoader"
          :disabled="assignLoader"
        >
          Assign
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-overlay :value="assignLoader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-dialog>
</template>

<script>
import {
  findIndex as _findIndex,
  each as _each,
  isEmpty as _isEmpty,
  debounce as _debounce,
  map as _map,
} from 'lodash-es';
import dayjs from 'dayjs';
import AssignDropdown from '../client-lms/AssignDropdown';

export default {
  name: 'AssignPlaylist',
  components: { AssignDropdown },
  props: {
    dialog: Boolean,
    toggleAssignDialog: Function,
    playlist: Object,
  },
  data() {
    return {
      groupSelect: [],
      groups: [],
      assignToAll: false,
      loading: true,
      dueDate: new Date().toISOString().substr(0, 10),
      dueDateMenu: false,
      selectedUsers: [],
      assignLoader: false,
      usersSearchResult: [],
      searchUsers: null,
      selectLoading: {
        users: true,
      },
    };
  },
  computed: {
    dateFormatted() {
      if (this.dueDate === null) {
        return '';
      }

      return dayjs(this.dueDate).format('MM/DD/YYYY');
    },
    showSelectedUsers() {
      return this.selectedUsers.length > 0;
    },
  },
  created() {
    this.getGroups();
  },
  methods: {
    getFirstTenUsers() {
      this.selectLoading.users = true;
      this.$http
        .get('get-random-users', {
          params: {
            users: 10,
          },
        })
        .then(({ data }) => {
          _each(data, (user) => {
            const index = _findIndex(this.usersSearchResult, { id: user.id });
            if (index === -1) {
              this.usersSearchResult.push(user);
            }
          });
          this.selectLoading.users = false;
        })
        .catch((error) => {
          this.selectLoading.users = false;
        });
    },
    getGroups() {
      this.$http
        .get('/groups')
        .then((response) => {
          _each(response.data, (group) => {
            this.groups.push(group);
          });
        })
        .catch((err) => {});
    },
    searchUser: _debounce(function (user) {
      this.fetchUsers(user);
    }, 500),
    fetchUsers(filter) {
      const params = {};
      if (filter) {
        params.filter = filter;
      }

      this.selectLoading.users = true;

      this.$http
        .get('/playlist/assign', { params })
        .then(({ data }) => {
          _each(data, (user) => {
            const index = _findIndex(this.usersSearchResult, { id: user.id });
            if (index === -1) {
              this.usersSearchResult.push(user);
            }
          });

          this.selectLoading.users = false;
        })
        .catch(() => {
          this.selectLoading.users = false;
        });
    },
    assign() {
      this.assignLoader = true;
      const selectedUsers = _map(this.selectedUsers, (user) => {
        return user.id;
      });
      const users = this.assignToAll ? 'all' : selectedUsers;
      const groups = _isEmpty(this.groupSelect) ? null : this.groupSelect;
      if (users.length < 1 && groups.length < 1) return;
      this.$http
        .post('/playlist/assign', {
          playlist_id: this.playlist.id,
          users,
          groups,
          due_date: this.dueDate,
        })
        .then(() => {
          this.$swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'Playlist successfully assigned',
          });
          this.toggleAssignDialog();
          // reset to default
          this.selectedUsers = [];
          this.groupSelect = [];
          this.assignToAll = false;
          this.dueDate = new Date().toISOString().substr(0, 10);
          this.value = false;
          this.assignLoader = false;
        })
        .catch(() => {
          this.assignLoader = false;
          this.toggleAssignDialog();
          this.$swal.fire({
            icon: 'error',
            title: 'Problem',
            text: 'Error occured',
          });
          this.value = false;
        });
    },
    selectedUsersChanged() {
      this.searchUsers = '';
    },
    setDropdownValue(value) {
      this.selectedUsers = value;
    },
  },
  watch: {
    searchUsers(val) {
      if (val) {
        this.fetchUsers(val);
      }
    },
  },
};
</script>

<style scoped></style>
